/*-----------------------------------------------------------------------------/
 *  Project: Padrão Front End
 *  ===========================================
 *
 *
 *  TABLE OF CONTENTS
 *
 *  #SETTINGS................Global variables, config switches.
 *  #TOOLS...................Default mixins and functions.
 *  #GENERIC.................Ground-zero styles (resets, box-sizing).
 *  #BASE....................Unclassed HTML elements (type selectors).
 *  #OBJECTS.................Cosmetic-free design patterns.
 *  #COMPONENTS..............Designed components, chunks of UI.
 *  #TRUMPS..................Helpers and overrides.
 *
 *
 *
 *  ATTENTION:
 *  The following parts are imported in the right order
 *  DO NOT CHANGE THE ORDER OF THE IMPORTS IN THIS FILE!!!!!
 *
 *  HINT:
 *  Each of these parts live in their own directory. Further explanation is
 *  provided in the dedicated folders.
 *
/-----------------------------------------------------------------------------*/

// #TOOLS
// ===========================================
//@import '2-Tools/*'

// #SETTINGS
// ===========================================
@import '1-Settings/*'

// #GENERIC
// ===========================================
@import '3-Generic/*'

// #BASE
// ===========================================
@import '4-Base/*'

// #OBJECTS
// ===========================================
@import '5-Objects/*'

// #COMPONENTS
// ===========================================
@import '6-Components/*'

// #TRUMPS
// ===========================================
@import '7-Trumps/*'

// #Layout
// ===========================================
@import '8-Layouts/*'
