// Configurações

// Assets Pipeline
$asset-pipeline: false !default;

// Tamanho base para conversão px - em
$em-base: 16px !default;

// Configura prefixos ao css - /addons/prefixer.scss
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;

// Configuração do grid
$columns: 12; // Numero de colunas
$column-width: 60; // Tamanho das colunas baseado em 960px
$gutter-width: 20; // Espaço entre as colunas
$total-width: 100%; // Define se o layout será baseado em px ou %.

// Inclua as variáveis aqui


