// ====================================================================
// SETTINGS
// ====================================================================

// -------------------------------------
// Fonts
// -------------------------------------

//Web Fonts
$arial = Arial, 'Helvetica Neue', Helvetica, sans-serif;

//font-face
$fontExemple = font-face('FontName', '/fonts/font-name', 'bold', 'italic')

$base--font-family = $arial
// -------------------------------------
// Font Weights
// -------------------------------------
$thin = 100
$light = 300
$medium = 400
$bold = 700
$bolder = 900

$base--font-weight = $medium
// -------------------------------------
// Font Style (Normal, Italic or Oblique).
// -------------------------------------
$base--font-style = Normal

// -------------------------------------
// Base Font
// -------------------------------------
$base--font-size = 16px
