body {
	width: 100%;
	@include clearfix();
}

$bg1:#333;
$bg2:#444;
$bg3:#555;
$bg4:#111;
$bg5:#777;

//Grid page
.teste1 {
	@include column(9);
	background: $bg1;
}

.teste2 {
	@include column(3);
	background: $bg2;
}

@media screen and (max-width: 720px) {
	.teste1,
	.teste2 {
		@include column(12);
		margin-bottom: 1em;
	}
}
