// Configuração do grid
$columns: 12; // Numero de colunas
$column-width: 60; // Tamanho das colunas baseado em 960px
$gutter-width: 20; // Espaço entre as colunas
$total-width: 100%; // Define se o layout será baseado em px ou %.

// Inclua as variáveis aqui

