// ====================================================================
// Global
// ====================================================================

// -------------------------------------
// Normalize
// -------------------------------------
@import "normalize";

// -------------------------------------
// Body
// -------------------------------------
body {
  background-color : $bg;
  color            : $font-color;
  font-family      : $font-family;
  font-weight      : $font-weight;
  font-style       : $font-style;
  font-size        : $em-base;
}

// -------------------------------------
// Links
// -------------------------------------
a {
  text-decoration: none;
  @include transition(color .3s ease);

  &:hover, &:not[class^="btn--"]{
    text-decoration: underline;
  }
}

// -------------------------------------
// Geral
// -------------------------------------

// Border Box
*,
*:after,
*:before {
  @include box-sizing();
}
