// ====================================================================
// Configurações
// ====================================================================

// -------------------------------------
// Fonts
// -------------------------------------

//Google Fonts
$font-url : "http://fonts.googleapis.com/css?family=Rokkitt:400,700";

//Fonts locais
$sans-serif : "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$serif      : Georgia, Cambria, "Times New Roman", Times, serif;
$monospace  : Consolas, "Liberation Mono", Courier, monospace;

// -------------------------------------
// Font Weights
// -------------------------------------
$thin   : 100;
$light  : 300;
$medium : 400;
$bold   : 700;
$bolder : 900;

// -------------------------------------
// Base
// -------------------------------------
$em-base : 16px;

// -------------------------------------
// Body
// -------------------------------------
$bg          : $bg-color;
$font-color  : $font-color;
$font-family : $sans-serif;
$font-weight : $medium;
$font-style  : normal;

// -------------------------------------
// Grid config
// -------------------------------------

$jeet-gutter:           3      !default;
$jeet-parent-first:     false  !default;
$jeet-layout-direction: "LTR"  !default;
$jeet-max-width:        960px !default;
