// ====================================================================
// Global
// ====================================================================

// -------------------------------------
// Body
// -------------------------------------
body
  font-family: $base--font-family
  font-weight: $base--font-weight
  font-style: $base--font-style
  font-size: $base--font-size
  color: $base--font-color
  background-color: $base--bg-color

// -------------------------------------
// Links
// -------------------------------------
a
  text-decoration: none

// -------------------------------------
// Geral
// -------------------------------------
// Border Box
*,
*:after,
*:before
  box-sizing border-box
