// ====================================================================
// Global
// ====================================================================

// -------------------------------------
// Body
// -------------------------------------
body
  background-color: $bg
  color: $font-color
  font-family: $font-family
  font-weight: $font-weight
  font-style: $font-style
  font-size: $em-base


// -------------------------------------
// Links
// -------------------------------------
a
  text-decoration: nonecd

// -------------------------------------
// Geral
// -------------------------------------
// Border Box
*,
*:after,
*:before
  box-sizing()
