// ====================================================================
// Base
// ====================================================================

body
  font-family base--font-family
  font-weight base--font-weight
  font-style base--font-style
  font-size base--font-size
  color body-color
  background-color body-bg-color
