// ====================================================================
// Colors
// Adicione as cores do tema.
// ====================================================================

//  -------------------------------------------------------------------
//  Global
//  -------------------------------------------------------------------

body-color #000000
body-bg-color #ffffff
