// ====================================================================
// Variáveis
// Adicione as variáveis reutilizáveis do tema
// ====================================================================

container-width = 1024px
