// ====================================================================
// Porcentage
// ====================================================================

percentage($decimal)
  ( $decimal * 100 ) %
