// ====================================================================
// Ratio
// ====================================================================

ratio($numerator, $denominator)
  ( $numerator / $denominator )
