// ====================================================================
// Colors
// ====================================================================

// -------------------------------------
// Base Colors
// -------------------------------------
$base--font-color = #000000
$base--bg-color = #ffffff

// -------------------------------------
// Layout Colors
// -------------------------------------

// -------------------------------------
// Events Colors
// -------------------------------------
$color-default = #95a5a6
$color-alert = #f1c40f
$color-success = #2ecc71
$color-warning = #e74c3c
$color-info = #3498db
